.appbar{
    color: white;
}
.popup_form{
    background-color:#1f2521;
    border: 2px solid rgba(70, 70, 196, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    display: none;
}

.popup_form input{
    height: 3em;
    margin: 3em;
}

.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.popup_form h1{
    position: absolute;
    right: 5%;
    top: 1%;
    color: rgba(255, 4, 4,0.6);
    cursor: pointer;
}

.popup_form h1:hover{
    color: red;
}
.wallet{
    margin-right: 1em;
    background-color: blueviolet;
}