.mintnft{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    background-image: url("./NFT-Minting.jpeg");
    background-repeat: no-repeat;
    background-position: left bottom;
}


.mintnft_form{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2521;
    color: white;
    background-blend-mode: exclusion;
    border: 5px solid rgb(254 170 21);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mintnft_form input{
    width: 60%;
    height: 2em;
    margin-bottom: 0.5em;
    
}